<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <!-- <script src="js/controllers.js"></script>
    <script src="js/services.js"></script> -->
  </head>
  <body class="item-calm" ng-app="weather">
      <ion-header> 
        <ion-navbar class="bar bar-energized">
            <h1 class="title">Steph's Weather App</h1>
        </ion-navbar>
      </ion-header>
      <ion-content ng-controller="MainCtrl" ng-style="{'background-image': 'url(' + iconUrl + ')'}">
        <button class="top-button button button-block button-positive">Current Weather in Wenham, MA</button>
        <div class="text-center main-content">
          <script>console.log("today")</script>
          <h3 class="stable">Temperature: {{current.currently.temperature}} °F</h3>
          <h3 class="stable">{{iconName}}</h3>
          <h4 class="stable">Feels like: {{current.currently.apparentTemperature}} °F</h4>
          <h4 class="stable">High for the day: {{current.daily.data[0].temperatureMax}} °F</h4>
          <h4 class="stable">Low for the day: {{current.daily.data[0].temperatureMin}} °F</h4>
          <h5 class="stable">Humidity: {{current.currently.humidity}}%</h5>
          <h5 class="stable">Chance of rain: {{current.currently.precipProbability}}%</h5>
        </div>
        <button class="button button-block button-positive">Hourly Forecast</button>
        <div class="forecast text-center">
          <li class="stable" ng-repeat="i in [0,1,2,3,4]">{{current.hourly.data[i].time * 1000 | date: 'h:mma'}}: {{current.hourly.data[i].temperature}} °F</div>
        </div>
        <button class="button button-block button-positive">Daily Forecast</button>
        <div class="forecast text-center">
          <!-- Idea to multiply by 1000 from Sergei Basharov on Stack Overflow -->
          <li class="stable daily-forecast" ng-repeat="i in [1,2,3,4,5,6,7]">{{current.daily.data[i].time * 1000 | date:'EEE, MMM, d'}}: H {{current.daily.data[i].temperatureMax}} °F, L {{current.daily.data[i].temperatureMin}} °F</li>
        </div>
      </ion-content>
  </body>
</html>
